.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-color: brown;
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
  overflow: hidden;
}

.slim-row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.selection {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
}

.results-box {
  flex: 1;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
